@using NetCoreStack.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreStack WebClient</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="//cdn.basbakanlik.gov.tr/css/efe-all-2.0.9.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//cdn.basbakanlik.gov.tr/js/bundle.min.js"></script>
    <script src="//cdn.basbakanlik.gov.tr/js/efe-all-2.0.9.min.js"></script>
    <style>
        .form-control {
            border-radius: 3px;
        }
    </style>
    <script>
        efe.context = {
            culture: "@Html.Culture()",
            title: "MyAppWebApp",
            //customNotifyFnc: xyz.utils.Notify,
            //blockUIFnc: __xyzBlockui
        };
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">NetCoreStack WebClient</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Student" asp-action="Index">Student Actions</a></li>
                    <li><a asp-area="" asp-controller="Teacher" asp-action="Index">Teacher Actions</a></li>
                    <li><a asp-area="" asp-controller="Classroom" asp-action="Index">Classroom Actions</a></li>
                    @*<li style="margin-top:10px;">
            @await Html.PartialAsync("_Localization")
        </li>*@
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div style="height:50px;"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - NetCoreStack WebClient</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
    @Html.UseNotification()
</body>
</html>
