@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ClassroomViewModel viewModel = null;
}
@{

    var mvvmFactory = Html.EfeMvvm<ClassroomViewModel>(new ViewConfigurations
    {
        ContainerId = "classroomContainer",
        FormId = "classroomForm",
        ApiUrlRoot = "/Clasroom/SaveClassroom",
        GridName = "classroomGrid",

    });

}



<h2>Index</h2>

<div id="@mvvmFactory.ContainerId" class="px-content">
    <div class="page-header p-y-4">
        <div class="box m-a-0 bg-transparent">
            <h1 class="box-cell col-md-7 col-lg-8 col-xl-9 font-weight-bold"><i class="page-header-icon ion-stats-bars"></i>CLASSROOMS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Classroom Information</div>
                </div>
                <form id="@mvvmFactory.FormId" class="panel-body">

                    <fieldset class="form-group">
                        <label>Classroom Name :</label>
                        @mvvmFactory.TextBoxFor(x => x.ClassroomName).HtmlAttributes(new { @class = "form-control" })
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Classroom Student Count :</label>
                        @mvvmFactory.TextBoxFor(x => x.StudentCount).HtmlAttributes(new { @class = "form-control" })
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="pull-right">
                            @mvvmFactory.ResetButton().IconClass("fa fa-plus").HtmlAttributes(new { @class = "btn btn-default" })
                            @mvvmFactory.SubmitButton().IconClass("fa fa-save").HtmlAttributes(new { @class = "btn btn-primary" })
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            @{
                var gridComponent = Html.Efe().Grid<ClassroomViewModel>()
                    .Name(mvvmFactory.ViewConfigurations.GridName)
                    .DataSource(source => source.Ajax().Read("GetClassrooms", "Classroom"))
                    .PageLength(PageLengths.Ten)
                    .BindableColumns(columns =>
                    {
                        columns.Bind(x => x.Id);
                        columns.Bind(x => x.ClassroomName);
                        columns.Bind(x => x.StudentCount);
                        columns.TemplateColumn("Select", "btnGridSelectRow");
                    });

                gridComponent.FilterPanel("filterModal", "Use Filter");
                gridComponent.Render();
            }
        </div>
    </div>
</div>
<script>
      var viewModel = {};
        domready(function () {
            viewModel = @(mvvmFactory.Build())
        });
</script>

